body {
	font-family: sans-serif;
	text-align: center;
	background-color: #202225;
}
img {
	max-width: 19vw;
	height: auto;
	width: auto;
	padding: 0.4vw;
}
h1 {
	font-size: 3.5vw;
	color: white;
	margin-top: 2vw;
	margin-bottom: 0;
}
p {
	font-size: 1.25vw;
	color: darkgrey;
	font-style: italic;
	margin-bottom: 2vw;	
}
.thumbnails {
	display: inline-block;
    transition: transform .2s;
}
.thumbnails:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}